body {
        font-family: Segoe UI, Helvetica;
        font-size: 12px;
    }

    .resource {
        width: 75px;
        height: 75px;
        -ms-border-radius: 8px;
        border-radius: 8px;
        display: inline-block;
        padding: 5px;
        overflow: hidden;
        border: 1px solid firebrick;
        margin: 10px;
        position: relative;
        vertical-align: top;
    }

    .resource img {
            height: 42px;
            width: 42px;
            position: absolute;
            top: 6px;
            left: 21px;
        }

        .resource p {
            margin: 47px 0 0;
            text-align: center;
        }

        .resource:hover {
            background: lightgoldenrodyellow;
            cursor: pointer;
        }

    form, #friendlyname, #log-off, #logged-off {
        display: none;
    }

    form {
        width: 275px;
    }

    input[type=text], input[type=password] {
        width: 155px;
    }
    
    input[type=submit] {
        margin: 12px 0;
    }

    label {
        display: inline-block;
        width: 73px;
    }

    #hidden-iframes {
        /* The HDX plug-in ignores the launch if the ICA file is loaded into an element hidden with display: none. */
        visibility: hidden;
        position: absolute;
        left: -999px;
        top: -999px;
        width: 0;
        height: 0;
    }