{{define "styles"}}{{end}}

{{define "scripts"}}
<script type="text/javascript">
	
</script>
{{end}}

{{define "content"}}
    <h1>{{.Title}}</h1>

    {{ range .ResourcesLists }}
    	<h2>{{.Name}}</h2>
    	{{ range .Resources }}
    		<br /><img src='{{.IconUrl}}' /> <a href='{{.LaunchUrl}}'>{{.Name}}</a><br />
    		{{.IconUrl}}<br />
			{{.LaunchUrl}}<br />
			{{.LaunchStatusUrl}}<br />
			{{.ShortcutValidationUrl}}<br />
			{{.Content}}<br />
    	{{end}}
    {{end}}
{{end}}