
{{define "head_includes"}}
  <link rel="stylesheet" href="/static/css/style.css">
  {{template "styles" .}}
{{end}}


{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>{{.Title}}</title>
  {{template "head_includes" .}}
</head>
<body>

  <!-- Your Page Content Here -->
  {{template "content" .}}

<!-- REQUIRED JS SCRIPTS -->
<script src="/static/js/jquery.min.js" type="text/javascript"></script>

{{template "scripts" .}}
</body>
</html>
{{end}}

{{define "content"}}{{end}}
{{define "styles"}}{{end}}
{{define "scripts"}}{{end}}
